{% load tz %}
{% load home_tags %}
<tr>
    <th><a href="{% url 'home:result' data.id %}">
        {{ data.id }}</a></th>
    <td class="text-center">
        {% if data.reverse %}
            <i class="fa-solid fa-cloud-arrow-down text-success" title="Download"></i>
        {% else %}
            <i class="fa-solid fa-cloud-arrow-up text-warning" title="Upload"></i>
        {% endif %}
    </td>
    <td><a class="clip text-white text-decoration-none" role="button"
           data-clipboard-text="{{ data.bps_human }}">{{ data.bps_human }}</a></td>
    <td class="d-none d-md-table-cell text-center"><a class="clip text-white text-decoration-none" role="button"
           data-clipboard-text="{{ data.duration }}">{{ data.duration }} s</a></td>
    <td><a class="clip text-white text-decoration-none" role="button"
           data-clipboard-text="{{ data.name }}">{{ data.name }}</a></td>
    <td class="d-none d-md-table-cell text-center">{% if data.ip_cc %}
        <a class="clip text-white text-decoration-none" role="button"
           data-clipboard-text="{{ data.ip_country|default:data.ip_cc }}">{{ data.ip_cc|cc_to_flag }}</a>{% else %}
        <i class="fa-solid fa-network-wired text-white"></i>{% endif %}</td>
    <td class="d-none d-lg-table-cell"><a class="clip text-white text-decoration-none" role="button"
           data-clipboard-text="{{ data.ip }}">{{ data.ip }}</a></td>
    <td class="d-none d-xl-table-cell"><a class="clip text-white text-decoration-none" role="button"
           data-clipboard-text="{{ data.created_at|localtime }}">{{ data.created_at|localtime }}</a></td>
    <td class="d-none d-sm-table-cell text-center">
        <a href="{% url 'home:image' data.id %}" class="text-white" target="_blank" title="Image"><i class="fa-regular fa-image"></i></a>
        <a href="{% url 'home:graph' data.id %}" class="text-white" target="_blank" title="Graph"><i class="fa-solid fa-chart-line"></i></a></td>
{#    {% if request.user.is_superuser %}#}
{#        <td><a role="button" class="delete-result-btn" data-hook-id="{{ data.id }}">#}
{#            <i class="fa-solid fa-trash-can link-danger"></i></a></td>#}
{#    {% endif %}#}
</tr>