/* Content Shift Fix - Always Show Scrollbar */
html {overflow-y: scroll;}
body {
    padding-right:0px !important;
    margin-right:0px !important;
}

/* Modal Scroll Fix !! BREAKS Back to Top Button */
body {
    overflow-x: hidden;
    overflow-y: scroll !important;
}


/* Visually Show Disabled Elements on Mouseover */
.disabled {
    cursor: not-allowed! important;
}

/* Recaptcha Border and Load Fix */
.g-recaptcha {
    overflow:hidden;
    width:298px;
    height:74px;
}
iframe {
  margin:-1px 0px 0px -2px;
}

/* Back to Top Button */
#btn-back-to-top {
  position: fixed;
  bottom: 60px;
  right: 10px;
  display: none;
}
