{{ data.get_type }} Results for: **{{ data.name }} ({{ data.ip }})**
```plaintext
{{ data.test_get_typetype }} Speed: {{ data.bps_human }}
IP: {{ data.ip }}{% if data.name %}
Host: {{ data.name }}{% endif %}{% if data.ip_country %}
Country: {{ data.ip_country }}{% endif %}{% if data.ip_org %}
ISP: {{ data.ip_org }}{% endif %}
Protocol: {{ data.protocol }}{% if data.duration %}
Duration: {{ data.duration }}{% endif %}{% if data.bytes %}
Bytes: {{ data.bytes_human }}{% endif %}{% if data.jitter %}
Jitter: {{ data.jitter }} ms{% endif %}{% if data.packets %}
Lost/Packets: {{ data.lost }}/{{ data.packets }}{% endif %}
```