{{ data.test_type }} Results for: **{{ data.name }} ({{ data.ip }})**
```plaintext
{{ data.test_type }} Speed: {{ data.bps_human }}
IP: {{ data.ip }}{% if data.name %}
Host: {{ data.name }}{% endif %}{% if data.asn_desc %}
ISP: {{ data.asn_desc }}{% endif %}{% if data.asn_cc %}
Country: {{ data.asn_cc }}{% endif %}
Protocol: {{ data.protocol }}{% if data.duration %}
Duration: {{ data.duration }}{% endif %}{% if data.bytes %}
Bytes: {{ data.bytes_human }}{% endif %}{% if data.jitter %}
Jitter: {{ data.jitter }} ms{% endif %}{% if data.packets %}
Lost/Packets: {{ data.lost }}/{{ data.packets }}{% endif %}
```