{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <h1>PyPerf3</h1>
    <p class="lead text-white">Iperf3 Server with Discord Alerts and Plotly Graphs powered by Django ORM running in Docker.</p>
    <p>
        Download Iperf3
        <i class="fa-brands fa-windows ms-2"></i>
        <i class="fa-brands fa-apple"></i>
        <i class="fa-brands fa-linux"></i>
        <i class="fa-brands fa-app-store-ios"></i>
        <i class="fa-brands fa-android me-2"></i>
        <a href="https://iperf.fr/iperf-download.php" target="_blank">
                https://iperf.fr <i class="fa-solid fa-up-right-from-square ms-1"></i></a>
    </p>
    <p><a href="{% url 'oauth:webhook' %}" class="btn btn-primary btn-lg my-2" role="button">
        Add Notifications to Discord <i class="fab fa-discord ms-2"></i></a></p>

    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <table class="table">
            <tr>
                <td>Download</td>
                <td><kbd>iperf3 -c {{ request.get_host }} -R</kbd>
                    <a class="clip" role="button" data-clipboard-text="iperf3 -c {{ request.get_host }} -R">
                    <i class="fa-regular fa-clipboard text-white ms-2"></i></a></td>
            </tr>
            <tr>
                <td>Upload</td>
                <td><kbd>iperf3 -c {{ request.get_host }}</kbd>
                    <a class="clip" role="button" data-clipboard-text="iperf3 -c {{ request.get_host }}">
                    <i class="fa-regular fa-clipboard text-white ms-2"></i></a></td>
            </tr>
            <tr>
                <td>Options</td>
                <td><kbd>-P 1</kbd> Threads <kbd class="ms-3">-t 10</kbd> Seconds</td>
            </tr>
        </table>
    </div>

    {% if request.user.is_authenticated %}{% if webhooks %}

        <h2 id="webhooks">Webhooks</h2>
        <table class="table" id="webhooks-table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" class="d-none d-sm-table-cell">Guild ID</th>
                <th scope="col">Channel ID</th>
                <th scope="col" class="d-none d-md-table-cell">Date</th>
                <th scope="col">Trash</th>
            </tr>
            </thead>
            <tbody>
            {% for data in webhooks reversed %}
                <tr id="webhook-{{ data.id }}">
                    <th scope="row">{{ data.id }}</th>
                    <td><a class="clip text-white text-decoration-none" title="{{ data.guild_id }}" role="button"
                           data-clipboard-text="{{ data.guild_id }}">{{ data.guild_id }}</a></td>
                    <td class="d-none d-sm-table-cell">
                        <a class="clip text-white text-decoration-none" title="{{ data.channel_id }}" role="button"
                           data-clipboard-text="{{ data.channel_id }}">{{ data.channel_id }}</a></td>
                    <td class="d-none d-md-table-cell">
                        <a class="clip text-white text-decoration-none" title="{{ data.created_at }}" role="button"
                           data-clipboard-text="{{ data.created_at }}">{{ data.created_at|date:"j M, o" }}</a></td>
                    <td><a role="button" class="delete-webhook-btn" data-hook-id="{{ data.id }}"><i class="fa-solid fa-trash-can link-danger"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="delete-hook-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Webhook</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete this webhook?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="confirm-delete-hook-btn">Delete <i
                                class="fa-regular fa-trash-can ms-1"></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}{% endif %}

{#    {% if request.user.is_superuser %}#}
{#    <div class="modal fade" id="delete-result-modal" tabindex="-1" aria-labelledby="exampleModalLabel"#}
{#         aria-hidden="true">#}
{#        <div class="modal-dialog modal-dialog-centered">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Result</h1>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                </div>#}
{#                <div class="modal-body">Are you sure you want to delete this result?</div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-danger" id="confirm-delete-result-btn">Delete <i#}
{#                            class="fa-regular fa-trash-can ms-1"></i></button>#}
{#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endif %}#}

    {% cache 86400 home_body %}

    <div class="d-flex align-items-center">
        <span class="h2" id="results">Results</span>
        <span><a class="clip" data-clipboard-text="{{ request.build_absolute_uri }}#results"
           role="button"><i class="fa-regular fa-clipboard text-white fs-4 ms-2"></i></a></span>
    </div>
    <p class="mb-0"><em>For more details, click on the ID Number.
        Clicking other fields will copy them to the clipboard.</em></p>
    <p class="d-xl-none text-muted mb-0"><em>Some columns hidden due to narrow viewport.</em></p>

    <table class="table table-hover" id="results">
        <thead>
        {% include 'include/table-head.html' %}
        </thead>
        <tbody>
            {% for st in data reversed %}
                {% include 'include/table-tr.html' with data=st %}
            {% endfor %}
        </tbody>
    </table>

    {% endcache %}

{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'main/js/home.js' %}"></script>
{% endblock %}
