{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block test_active %}active{% endblock %}
{% block title %}Test{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <h1>Test Page</h1>

    <p class="lead">Options:</p>

    <p>
        <a href="{% url 'home:test_view_pk' 1 %}">1</a> |
        <a href="{% url 'home:test_view_pk' 2 %}">2</a> |
        <a href="{% url 'home:test_view_pk' 3 %}">3</a> |
        <a href="{% url 'home:test_view_pk' 4 %}">4</a> |
        <a href="{% url 'home:test_view_pk' 5 %}" class="text-danger">5</a>
    </p>

    <hr>

    <p class="lead">Non-DB Data:</p>

    <h4>PK: {{ pk }}</h4>

    <hr>

{% cache 86400 test_body pk %}

    <p class="lead">DB Data (cached):</p>

    {% if data %}
        <h4>data.0.pk: {{ data.0.pk }}</h4>
        <pre><code>{{ data.0 }}</code></pre>
    {% else %}
        <h4>No Data</h4>
    {% endif %}

{% endcache %}

{% endblock %}

{% block tail %}{% endblock %}
